{
    "insert": {
        "partnerInfo": {
            "name": "com.ge.gaspower.gpcet"
        },
        "item": "General Service Request",
        "itemVariables": {
            "v_requested_for": "{{ requested_for }}",
            "v_configuration_item": "1004111306",
            "v_short_description": "White list AWS account",
            "v_detailed_description": "ACT#: {{ aws_account_id }} Region: {{ aws_region }} Account Alias: {{ aws_account_name }} Business: Gas Power"
        }
    }
}