{
   "agent":{
      "metrics_collection_interval":60,
      "logfile":"c:\\ProgramData\\Amazon\\AmazonCloudWatchAgent\\Logs\\amazon-cloudwatch-agent.log"
   },
   "metrics":{
      "metrics_collected":{
         "LogicalDisk":{
            "measurement":[
               "% Free Space"
            ],
            "resources":[
               "*"
            ]
         },
         "Memory":{
            "metrics_collection_interval":60,
            "measurement":[
               "Available Bytes",
               "% Committed Bytes In Use"
            ]
         }
      },
      "append_dimensions":{
         "InstanceId":"${aws:InstanceId}"
      }
   },
   "logs":{
      "logs_collected":{
         "files":{
            "collect_list":[
               {
                  "file_path":"c:\\cfn\\log\\cfn-init-cmd.log",
                  "log_group_name":"common/build/win/cfn-init-cmd-log",
                  "log_stream_name":"{instance_id}",
                  "timezone":"UTC"
               },
               {
                  "file_path":"c:\\cfn\\log\\cfn-init.log",
                  "log_group_name":"common/build/win/cfn-init-log",
                  "log_stream_name":"{instance_id}",
                  "timezone":"UTC"
               },
               {
                  "file_path":"c:\\cfn\\log\\cfn-wire.log",
                  "log_group_name":"common/build/win/cfn-wire-log",
                  "log_stream_name":"{instance_id}",
                  "timezone":"UTC"
               }
            ]
         },
         "windows_events":{
            "collect_list":[
               {
                  "event_name":"System",
                  "event_levels":[
                     "INFORMATION",
                     "ERROR"
                  ],
                  "log_group_name":"System",
                  "log_stream_name":"System",
                  "event_format":"xml"
               }
            ]
         }
      },
      "log_stream_name":"windows_log_stream"
   }
}
