IPADOMAINJOINED=no
#FORCELEGACY=no
USEPAMACCESS=yes
CACHECREDENTIALS=yes
USEMKHOMEDIR=yes
USESHADOW=yes
USEWINBIND=no
USESSSD=yes
USEDB=no
FORCELEGACY=yes
USEFPRINTD=no
USEHESIOD=no
FORCESMARTCARD=no
USELDAPAUTH=no
IPAV2NONTP=no
USELOCAUTHORIZE=yes
USECRACKLIB=yes
USEIPAV2=no
USEWINBINDAUTH=no
USESMARTCARD=no
USELDAP=yes
USENIS=no
USEKERBEROS=no
USESYSNETAUTH=no
USESSSDAUTH=yes
PASSWDALGORITHM=sha512
USEPASSWDQC=no
