#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

#BASE           dc=example,dc=com
#URI            ldap://ldap.example.com ldap://ldap-master.example.com:666
#TLS_CACERTDIR  /etc/openldap/certs
#DEREF          never
#SIZELIMIT      12
#TIMELIMIT      15


{% if account_id in ldap_uri.keys() %}
{% set ldap_account=account_id %}
{% else %}
{% set ldap_account='common' %}
{% endif %}
BASE            {{ ldap_search_base[ldap_account] }}

URI             {% for server in ldap_uri[ldap_account] %}{{ ldap_protocol[ldap_account] }}://{{ server }}
{%- if not loop.last %},{% endif %}
{% endfor %}

TLS_CACERTDIR   /etc/openldap/cacerts