{
    "groupId": "",
    "description": "AWS account DL for the cloud arch fed role",
    "groupName": "@GE AWS_hq/bu-pw-cldarch-fed_{{ aws_account_id }}",
    "expires": false,
    "expirationDate": "4712-12-31",
    "primaryManager": "212575717",
    "otherManagers": [
        "212575717",
        "212552084"
    ],
    "groupType": "DST",
    "membershipType": "Public",
    "businessUnitId": "1883351",
    "subBusinessUnitId": "1883351",
    "allowedToSend": [],
    "mail": "AWS_hq_bu_pw_cldarch_fed_{{ aws_account_id }}@ge.com",
    "alternateMail": null,
    "hideFromAddressLists": false,
    "members": [
        "502633400",
        "503089508",
        "502624080"
    ],
    "enableAccessReview": true
}
