{
    "groupId": "",
    "description": "AWS account DL for Read only fed role",
    "groupName": "@GE AWS_gp/readonly-fed_{{ aws_account_id }}",
    "expires": false,
    "expirationDate": "4712-12-31",
    "primaryManager": "502738071",
    "otherManagers": [
        "503103178",
        "502738071"
    ],
    "groupType": "DST",
    "membershipType": "Public",
    "businessUnitId": "1883351",
    "subBusinessUnitId": "1883351",
    "allowedToSend": [],
    "mail": "AWS_gp_readonly_fed_{{ aws_account_id }}@ge.com",
    "alternateMail": null,
    "hideFromAddressLists": false,
    "members": [
        "502738071"
    ],
    "enableAccessReview": true
}
