{
    "groupId": "",
    "description": "AWS account DL for Cloud sec ops fed role",
    "groupName": "@GE AWS_hq/bu-pw-secops-fed_{{ aws_account_id }}",
    "expires": false,
    "expirationDate": "4712-12-31",
    "primaryManager": "212595815",
    "otherManagers": [
        "212595815",
        "212812887"
    ],
    "groupType": "DST",
    "membershipType": "Public",
    "businessUnitId": "1883351",
    "subBusinessUnitId": "1883351",
    "allowedToSend": [],
    "mail": "AWS_hq_bu_pw_secops_fed_{{ aws_account_id }}@ge.com",
    "alternateMail": null,
    "hideFromAddressLists": false,
    "members": [
        "212702641",
        "503195528"
    ],
    "enableAccessReview": true
}
